.add-form-wrapper {
    width: 85%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 5px;
}

.add-form-wrapper h2 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.add-form-wrapper label {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
}

.add-form-wrapper input [type="text"], input[type="date"] {
    display: block;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 20px;
}

.add-form-wrapper button.submitBtn {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

.add-form-wrapper button.submitBtn:hover {
    background-color: #3e8e41;
}

.table-wrapper {
    position: absolute;
    top:0;
    right: 0;
    width: 85%;
    border-collapse: collapse;
    margin-bottom: 1em;
}

.table-wrapper th, td {
    padding: 0.5em;
    text-align: left;
    border-bottom: 1px solid #ccc;
}

.table-wrapper th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.table-wrapper tr:nth-child(even) {
    background-color: #f2f2f2;
}
