header{
  display: flex;
  flex-direction: column;
  background: rgb(121, 0, 240);
  padding: 13px;
  color: white;
  text-align: center;
}

button {
  background: rgb(49, 159, 9);
  font-size: 1rem;
  margin: 15px;
  border: none;
  border-radius: 8px;
  color: white;
  text-transform: uppercase;
  font-weight: 400;
  padding: 2px 35px;
}
