.form-wrapper {
    width: 85%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 5px;
}

.form-wrapper h2 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.form-wrapper label {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
}

.form-wrapper input [type="text"], input[type="date"] {
    display: block;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 20px;
}

.form-wrapper button.submitBtn {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

.form-wrapper button.submitBtn:hover {
    background-color: #3e8e41;
}
